body{
    background-color: blue;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}
h1{
    color:bisque;
    font-size: 40px;
}
p{
font-size: 25px;
}
header{
    border-bottom: solid 3x color(srgb red green blue);
    margin: 2px;
    padding: 10px;
    color: blue;
}
.chamada{
    background-color: aliceblue;
    padding-bottom: 80px;
    padding-top: 80px
    display: flex;
    justify-content : center;
}
.chamada texto {
    margin-right: 8px;
}
img {
    height: 200px;
}
.categoria - vídeo {
display: flex;
overflow-x: auto;
gap: 15px;
padding : 20px;
scroll-behavior: smooth;
}
.categoria-vídeo::-webkit-scrollbar-thumb{
    background-color: blue;
    border-radius: 4px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}